

<ion-content>
  <ion-grid fixed>
    <ion-row style="height: 35px"></ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-label>Pontos de Interesse</ion-label>
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="Percurso()">
        <ion-label>Percursos</ion-label>
        <ion-icon name="flag"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div id='container'>
          
    <ion-text color="light">
     <p><ion-icon name="information-circle" color='light'></ion-icon> Comece por criar um ponto de interesse, carregue no botão "+" no topo da tela.</p>
     <p><ion-icon name="information-circle" color='light'></ion-icon> Após criar o ponto de interesse, clique no botão "atualizar" situado à esquerda do botão "+" para o visualizar.</p>
    </ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-row style="height: 15px"></ion-row>
          <ion-label color="light"><b>Pontos de interesse</b></ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="atualizar()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>  
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="criarPonto()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>  
      </ion-col>
    </ion-row> 
  </ion-grid>




  <ion-list #myList >
    <ion-item-sliding *ngFor="let ponto of pontos" >
      <ion-item class="ion-no-border">
        <ion-label>
          <h3>{{ponto.nome}}</h3>
          <ion-text color="secondary">
            <p>{{ ponto.lugar }}</p>
          </ion-text>
          <p>{{ponto.tipo}}</p>
        </ion-label>
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-item>

      <ion-item-options side="end" color="danger">
        <ion-item-option color="danger" (click)="presentAlertConfirm(ponto)">Eliminar</ion-item-option>
        
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>









</ion-content>
