

<ion-content>
  <ion-grid fixed>
    <ion-row style="height: 35px"></ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom" opacity="0">
      <ion-tab-button>
        <ion-label>Pontos de Interesse</ion-label>
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="Percurso()">
        <ion-label>Percursos</ion-label>
        <ion-icon name="flag"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label>Pontos de interesse</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="atualizar()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>  
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="criarPonto()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>  
      </ion-col>
    </ion-row> 
  </ion-grid>

  <ion-grid fixed>


  <ion-list #myList class="transparencia">
    <ion-item-sliding *ngFor="let ponto of pontos">
      <ion-item>
        <ion-label>
          <h3>{{ponto.nome}}</h3>
          <ion-text color="secondary">
            <p>{{ ponto.lugar }}</p>
          </ion-text>
          <p>{{ponto.tipo}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlertConfirm(ponto)">Eliminar</ion-item-option>
        
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-grid>
</ion-content>
