

<ion-content>
  <ion-grid fixed>
    <ion-row style="height: 50px"></ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row>

        <ion-col size="2">
        </ion-col>
        <ion-col size="9">
            <ion-label color="light"><b>Criação do Ponto de Interesse</b></ion-label>
          </ion-col>
        <ion-col size="1">
        </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col size="10">
        <div>
          <ion-item>
            <ion-label position="floating">Nome do lugar</ion-label>
            <ion-input [(ngModel)]="newPonto.nome"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col size="10">
        <div>
          <ion-item>
            <ion-label position="floating">Nome da Cidade</ion-label>
            <ion-input [(ngModel)]="newPonto.lugar"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>Tipo de Interesse</ion-label>
      <ion-select #myList [(ngModel)]="newPonto.tipo" placeholder="Alojamento">
        <ion-select-option value="Alojamento">Alojamento</ion-select-option>
        <ion-select-option value="Restauração">Restauração</ion-select-option>
        <ion-select-option value="Transporte">Transporte</ion-select-option>
        <ion-select-option value="Monumento">Monumento</ion-select-option>
        <ion-select-option value="Museu">Museu</ion-select-option>
        <ion-select-option value="Lazer">Lazer</ion-select-option>
        <ion-select-option value="Outro">Outro</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="3"><ion-button shape="round" color="danger" (click)="voltar()">Cancelar</ion-button></ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="3"><ion-button shape="round" color="success" (click)="addPonto()" [disabled]='verificar()'>Criar</ion-button></ion-col>
      <ion-col ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
